html,
body,
#__next {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
  background-color: #f5f8fa;
}

.container {
  padding: 0 15px;
}

/* overwrite blueprint css */
.bp3-navbar-heading {
  margin-right: 0;
}
