html,
body,
#__next {
  height: 100%;
}

body {
  direction: rtl;
  text-align: right;
  background-color: #f5f8fa;
}

.container {
  padding: 0 15px;
}

/* overwrite blueprint css */
.bp3-navbar-heading {
  margin-right: 0;
}
.bp3-button::before,
.bp3-button > * {
  margin-right: 0;
  margin-left: 7px;
}
.bp3-button:empty::before,
.bp3-button > :last-child {
  margin-left: 0;
}
