.quillWrapper {
  direction: ltr;
  text-align: left;
}

.quillWrapper :global(.ql-container) {
  background-color: #fff;
}

.quillWrapper :global(.ql-container .ql-editor) {
  direction: rtl;
  text-align: right;
}

.quillWrapper :global(.ql-editor) {
  padding: 0;
}

.quillWrapper :global(.ql-editor.ql-blank::before) {
  left: 0;
  right: 0;
}
